In [4]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

'Connected: None@factbook.db'

First check to see what tables exist in our database

In [3]:
%%sql
SELECT *
FROM sqlite_master
WHERE type='table'

Done.

[('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'facts', 'facts', 47, 'CREATE TABLE "facts" ("id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "code" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "area" integer, "a ... (4 characters truncated) ... land" integer, "area_water" integer, "population" integer, "population_growth" float, "birth_rate" float, "death_rate" float, "migration_rate" float)')]

Check the first five rows in the facts table in the database

In [6]:
%%sql
SELECT * 
FROM facts
LIMIT 5;

Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

## Summary Statistics

### Mimimum population

In [11]:
%%sql

SELECT *
FROM facts
WHERE population = (
    SELECT MIN(population)
    FROM facts
)

Done.

[(250, 'ay', 'Antarctica', None, 280000, None, 0, None, None, None, None)]

### Maximum Population

In [13]:
%%sql

SELECT *
FROM facts
WHERE population = (
    SELECT MAX(population)
    FROM facts
)

Done.

[(261, 'xx', 'World', None, None, None, 7256490011, 1.08, 18.6, 7.8, None)]

### Minimum Population Growth

In [17]:
%%sql

SELECT *
FROM facts
WHERE population_growth = (
    SELECT MIN(population_growth)
    FROM facts
)

Done.

[(190, 'vt', 'Holy See (Vatican City)', 0, 0, 0, 842, 0.0, None, None, None),
 (200, 'ck', 'Cocos (Keeling) Islands', 14, 14, 0, 596, 0.0, None, None, None),
 (207, 'gl', 'Greenland', 2166086, 2166086, None, 57733, 0.0, 14.48, 8.49, 5.98),
 (238, 'pc', 'Pitcairn Islands', 47, 47, 0, 48, 0.0, None, None, None)]

### Maximum Population Growth

In [18]:
%%sql

SELECT *
FROM facts
WHERE population_growth = (
    SELECT MAX(population_growth)
    FROM facts
)

Done.

[(162, 'od', 'South Sudan', 644329, None, None, 12042910, 4.02, 36.91, 8.18, 11.47)]

## Exploring Outliers

### Minimum Population

In [22]:
%%sql

SELECT name
FROM facts
WHERE population = (
    SELECT MIN(population)
    FROM facts
)

Done.

[('Antarctica',)]

### Maximum Population

In [23]:
%%sql

SELECT name
FROM facts
WHERE population = (
    SELECT MAX(population)
    FROM facts
)

Done.

[('World',)]

## Recompute Summary Statistics

From above analyses we have found out that the population of the whole world was among the records. Thus, when determining the maximum value, we ended up with a "country" that has over 7 billion in population. Antarctica was also included, making the minimum population value to be 0. In this part, I redo some of that while considering such outliers

### Minimum Population

In [37]:
%%sql

SELECT *
FROM facts
WHERE population = (
    SELECT MIN(population)
    FROM facts
    WHERE (name != 'World') AND (name != 'Antarctica')
)

Done.

[(238, 'pc', 'Pitcairn Islands', 47, 47, 0, 48, 0.0, None, None, None)]

### Maximum Population

In [36]:
%%sql

SELECT *
FROM facts
WHERE population = (
    SELECT MAX(population)
    FROM facts
    WHERE (name != 'World') AND (name != 'Antarctica')
)

Done.

[(37, 'ch', 'China', 9596960, 9326410, 270550, 1367485388, 0.45, 12.49, 7.53, 0.44)]

### Minimum Population Growth

In [38]:
%%sql

SELECT *
FROM facts
WHERE population_growth = (
    SELECT MIN(population_growth)
    FROM facts
    WHERE (name != 'World') AND (name != 'Antarctica')
)

Done.

[(190, 'vt', 'Holy See (Vatican City)', 0, 0, 0, 842, 0.0, None, None, None),
 (200, 'ck', 'Cocos (Keeling) Islands', 14, 14, 0, 596, 0.0, None, None, None),
 (207, 'gl', 'Greenland', 2166086, 2166086, None, 57733, 0.0, 14.48, 8.49, 5.98),
 (238, 'pc', 'Pitcairn Islands', 47, 47, 0, 48, 0.0, None, None, None)]

### Maximum Population Growth

In [39]:
%%sql

SELECT *
FROM facts
WHERE population_growth = (
    SELECT MAX(population_growth)
    FROM facts
    WHERE (name != 'World') AND (name != 'Antarctica')
)

Done.

[(162, 'od', 'South Sudan', 644329, None, None, 12042910, 4.02, 36.91, 8.18, 11.47)]

### Average Population

In [44]:
%%sql

SELECT AVG(population) as avg_population
FROM facts
WHERE (name != 'World') AND (name != 'Antarctica')

Done.

[(32377011.0125,)]

### Average Area

In [46]:
%%sql

SELECT AVG(area) as avg_area
FROM facts
WHERE (name != 'World') AND (name != 'Antarctica')

Done.

[(555093.546184739,)]

## Finding Densely Populated Countries

### Countries with Above Average Population

In [51]:
%%sql
SELECT name
FROM facts
WHERE population > (
    SELECT AVG(population)
    FROM facts
    WHERE (name != 'World') AND (name != 'Antarctica')
) AND (name != 'World') AND (name != 'Antarctica')

Done.

[('Afghanistan',),
 ('Algeria',),
 ('Argentina',),
 ('Bangladesh',),
 ('Brazil',),
 ('Burma',),
 ('Canada',),
 ('China',),
 ('Colombia',),
 ('Congo, Democratic Republic of the',),
 ('Egypt',),
 ('Ethiopia',),
 ('France',),
 ('Germany',),
 ('India',),
 ('Indonesia',),
 ('Iran',),
 ('Iraq',),
 ('Italy',),
 ('Japan',),
 ('Kenya',),
 ('Korea, South',),
 ('Mexico',),
 ('Morocco',),
 ('Nigeria',),
 ('Pakistan',),
 ('Philippines',),
 ('Poland',),
 ('Russia',),
 ('South Africa',),
 ('Spain',),
 ('Sudan',),
 ('Tanzania',),
 ('Thailand',),
 ('Turkey',),
 ('Uganda',),
 ('Ukraine',),
 ('United Kingdom',),
 ('United States',),
 ('Vietnam',),
 ('European Union',)]

### Area is Below Average

In [52]:
%%sql
SELECT name
FROM facts
WHERE area < (
    SELECT AVG(area)
    FROM facts
    WHERE (name != 'World') AND (name != 'Antarctica')
) AND (name != 'World') AND (name != 'Antarctica')

Done.

[('Albania',),
 ('Andorra',),
 ('Antigua and Barbuda',),
 ('Armenia',),
 ('Austria',),
 ('Azerbaijan',),
 ('Bahamas, The',),
 ('Bahrain',),
 ('Bangladesh',),
 ('Barbados',),
 ('Belarus',),
 ('Belgium',),
 ('Belize',),
 ('Benin',),
 ('Bhutan',),
 ('Bosnia and Herzegovina',),
 ('Brunei',),
 ('Bulgaria',),
 ('Burkina Faso',),
 ('Burundi',),
 ('Cambodia',),
 ('Cameroon',),
 ('Cabo Verde',),
 ('Comoros',),
 ('Congo, Republic of the',),
 ('Costa Rica',),
 ("Cote d'Ivoire",),
 ('Croatia',),
 ('Cuba',),
 ('Cyprus',),
 ('Czech Republic',),
 ('Denmark',),
 ('Djibouti',),
 ('Dominica',),
 ('Dominican Republic',),
 ('Ecuador',),
 ('El Salvador',),
 ('Equatorial Guinea',),
 ('Eritrea',),
 ('Estonia',),
 ('Fiji',),
 ('Finland',),
 ('Gabon',),
 ('Gambia, The',),
 ('Georgia',),
 ('Germany',),
 ('Ghana',),
 ('Greece',),
 ('Grenada',),
 ('Guatemala',),
 ('Guinea',),
 ('Guinea-Bissau',),
 ('Guyana',),
 ('Haiti',),
 ('Honduras',),
 ('Hungary',),
 ('Iceland',),
 ('Iraq',),
 ('Ireland',),
 ('Israel',),
 ('Italy',),
 ('Jamaica',),
 ('Japan',),
 ('Jordan',),
 ('Kiribati',),
 ('Korea, North',),
 ('Korea, South',),
 ('Kosovo',),
 ('Kuwait',),
 ('Kyrgyzstan',),
 ('Laos',),
 ('Latvia',),
 ('Lebanon',),
 ('Lesotho',),
 ('Liberia',),
 ('Liechtenstein',),
 ('Lithuania',),
 ('Luxembourg',),
 ('Macedonia',),
 ('Malawi',),
 ('Malaysia',),
 ('Maldives',),
 ('Malta',),
 ('Marshall Islands',),
 ('Mauritius',),
 ('Micronesia, Federated States of',),
 ('Moldova',),
 ('Monaco',),
 ('Montenegro',),
 ('Morocco',),
 ('Nauru',),
 ('Nepal',),
 ('Netherlands',),
 ('New Zealand',),
 ('Nicaragua',),
 ('Norway',),
 ('Oman',),
 ('Palau',),
 ('Panama',),
 ('Papua New Guinea',),
 ('Paraguay',),
 ('Philippines',),
 ('Poland',),
 ('Portugal',),
 ('Qatar',),
 ('Romania',),
 ('Rwanda',),
 ('Saint Kitts and Nevis',),
 ('Saint Lucia',),
 ('Saint Vincent and the Grenadines',),
 ('Samoa',),
 ('San Marino',),
 ('Sao Tome and Principe',),
 ('Senegal',),
 ('Serbia',),
 ('Seychelles',),
 ('Sierra Leone',),
 ('Singapore',),
 ('Slovakia',),
 ('Slovenia',),
 ('Solomon Islands',),
 ('Spain',),
 ('Sri Lanka',),
 ('Suriname',),
 ('Swaziland',),
 ('Sweden',),
 ('Switzerland',),
 ('Syria',),
 ('Tajikistan',),
 ('Thailand',),
 ('Timor-Leste',),
 ('Togo',),
 ('Tonga',),
 ('Trinidad and Tobago',),
 ('Tunisia',),
 ('Turkmenistan',),
 ('Tuvalu',),
 ('Uganda',),
 ('United Arab Emirates',),
 ('United Kingdom',),
 ('Uruguay',),
 ('Uzbekistan',),
 ('Vanuatu',),
 ('Holy See (Vatican City)',),
 ('Vietnam',),
 ('Yemen',),
 ('Zimbabwe',),
 ('Taiwan',),
 ('Ashmore and Cartier Islands',),
 ('Christmas Island',),
 ('Cocos (Keeling) Islands',),
 ('Coral Sea Islands',),
 ('Heard Island and McDonald Islands',),
 ('Norfolk Island',),
 ('Hong Kong',),
 ('Macau',),
 ('Faroe Islands',),
 ('Clipperton Island',),
 ('French Polynesia',),
 ('New Caledonia',),
 ('Saint Martin',),
 ('Saint Pierre and Miquelon',),
 ('Wallis and Futuna',),
 ('Aruba',),
 ('Curacao',),
 ('Sint Maarten',),
 ('Cook Islands',),
 ('Niue',),
 ('Tokelau',),
 ('Bouvet Island',),
 ('Jan Mayen',),
 ('Svalbard',),
 ('Akrotiri',),
 ('Anguilla',),
 ('Bermuda',),
 ('British Indian Ocean Territory',),
 ('British Virgin Islands',),
 ('Cayman Islands',),
 ('Dhekelia',),
 ('Falkland Islands (Islas Malvinas)',),
 ('Gibraltar',),
 ('Guernsey',),
 ('Jersey',),
 ('Isle of Man',),
 ('Montserrat',),
 ('Pitcairn Islands',),
 ('Saint Helena, Ascension, and Tristan da Cunha',),
 ('South Georgia and South Sandwich Islands',),
 ('Turks and Caicos Islands',),
 ('American Samoa',),
 ('Guam',),
 ('Navassa Island',),
 ('Northern Mariana Islands',),
 ('Puerto Rico',),
 ('Virgin Islands',),
 ('Wake Island',),
 ('Gaza Strip',),
 ('Paracel Islands',),
 ('Spratly Islands',),
 ('West Bank',),
 ('Western Sahara',)]